h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

 h1, h2, h4, h5, h6 {
    color: orange;
}

body {
    color: white;
}

.user__container  {
    width: 850px;
}

.orange {
    color: orange;
}
    
/* USER__LIST________________________________________ */


.USER__search  {
    background-color: rgb(50, 61, 61);
    padding: 20px;
    border: solid;
}

.search__inner {
    background-color: rgba(0, 0, 0, 0.527);
    padding: 10px;
}

.search__header {
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: orange solid;
    background-color: rgba(0, 0, 0, 0.527);
}

.search__inner__input   {
    border:  solid ;
}


.USER__card {
    border: solid;
    background-color: rgb(50, 61, 61);
    padding: 20px;

}

.header {
    display: flex;
    background-color: rgba(0, 0, 0, 0.527);
    padding: 10px;
    font-size: 18px;
    border-bottom: solid orange;
    position: relative;
}

.header__item   {
    margin: 0 10px;
}

.headerCard__avatar img {
    width: 60px;
    border-radius: 50%;
}

.header__email  {
    color: orange;
}

.headerCard__deleteButton   {
    position: absolute;
    right: 12px;
    top: 10px;
}

.USER__notFound   {
    background-color: rgb(50, 61, 61);
    font-size: 20px;
    border: solid;
    padding: 20px;
}

.USER__notFound__inner  {
    background-color: rgba(0, 0, 0, 0.527);
    padding: 10px;
}







/* USER__PAGE_____________________________________________________*/


.user__page {
    background-color: rgb(50, 61, 61);
    border: solid;
    /* padding: 20px; */
}

.user__page__inner  {
    margin: 20px;
}

.header__page   {
    display: flex;
    background-color: rgba(0, 0, 0, 0.527);
    padding: 10px;
    font-size: 18px;
    border-bottom: solid orange;
    position: relative;
}

.headerPage__avatar img {
    width: 250px;
    border-radius: 5%;
}

.user__page__buttonReturn  {
    font-size: 16px;
    right: 15px;
    position: absolute;
}

.about {
    border: black solid;
    padding: 10px;
}

.about__header    {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.527);
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about__inner__item {
    margin: 0 5px;
}


/*___________________________*/
